/* Reset de margens e paddings */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  header {
    background-color: #007BFF;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    font-size: 2rem;
  }
  
  .container {
    width: 80%;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  th, td {
    padding: 12px;
    text-align: left;
  }
  
  th {
    background-color: #007BFF;
    color: white;
  }
  
  tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tbody tr:hover {
    background-color: #f1f1f1;
  }
  
  button, .button {
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
  
  .button-edit {
    background-color: #28a745;
  }
  
  .button-danger {
    background-color: #dc3545;
  }
  
  .button {
    background-color: #007BFF;
    display: inline-block;
    margin-top: 20px;
    text-align: center;
  }
  
  .button:hover {
    opacity: 0.8;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  